body {
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

h1 {
	margin: 0;
	margin-bottom: 0.5rem;
}

.input {
	border: solid 1px #333;
	border-radius: 0.3rem;
	width: 7em;
	padding: 0.25rem;
}

select {
	margin-left: 0.5rem;
}

.equal {
	font-weight: bold;
	font-size: 2rem;
}
